.button {
  border-style: none;
  color: inherit;
  font-weight: 700;
  text-transform: uppercase;
  min-width: 12em;
  width: fit-content;
  height: 4em;
  cursor: pointer;
  border-radius: 0.3em;
}

.button:hover{
  filter: brightness(120%);
  transform: scale(1.03);
}

.button:active {
  transform: scale(1.2);
}